.banner-container {
  position: relative;
  background: url(../../images/bg-banner.png) center center / cover;
  height: 110vh;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .content {
      margin: auto 70px;
      h2.designer {
        font-size: 78px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1.128;
        letter-spacing: 2px;
      }
      p.description {
        font-size: 24px;
        font-weight: 500;
        color: #a3b1bf;
        margin-top: 10px;
      }
      div.btn-designer {
        margin-top: 80px;
        button.btn-success {
          font-size: 18px;
          color: #ffff;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1.34px;
          padding: 10px 70px;
          background-color: #00bc9c; 
          border-color: #00a085;
        }
      }
    }
  }
}

.Get_started_now {
  font-size: 18px;
  font-family: "Source Sans Pro";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 881.86px;
  top: 687.998px;
  z-index: 176;
}


