<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Reen"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->

    <main class="main-container">
      @@include('../layouts/main/menu.html')

      @@include('../partials/banner.html')

      @@include('../layouts/main/beautiful.html')
      @@include('../layouts/main/checkout-site.html')
      @@include('../layouts/main/works.html')
   </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>