section.checkout-site {
  background: #f2f5f7;
  padding-top: 110px;
  padding-bottom: 110px;
  .container {
    .title-checkout-site {
      h3.text-center {
        font-size: 44px;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        color: #506a85;
      }
      p.text {
        font-size: 22px;
        color: #73879c;
        margin: 40px auto 80px auto;
      }
    }
    .list-checkout-site {
      margin-bottom: 80px;
      div.card {
        h4.card-title {
          font-size: 20px;
          font-weight: 600;
          font-family: 'Lato', sans-serif;
        }
        p.card-text {
          font-size: 14px;
          font-weight: 500;
          color: #73879c;
        }
      }
    }
    .muti-slider {
      .carousel {
        width: 100%;
        .slide-box {
          display: flex;
          justify-content: space-between;
          img {
            max-width: 24%;
          } 
        } 
      }      
    }
  }
}
