<section class="beautiful">
  <div class="container">
    <div class="responsive text-center">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="title">Beautiful. Clean. Responsive</h2>
          <p class="text text-center">   REEN is a high-quality solution for those who want a beautiful website in no time.
            It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it
            doesn't matter. Your content will always looks its absolute best.
          </p>
        </div>
      </div>
    </div>
    <div class="items-beautiful">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="item">
            <div class="icon">
              <div class="image">
                <img src="../../../images/icon-1.png" alt="live" class="">
              </div>
            </div>
            <div class="content">
              <h3 class="title">Passion</h3>
              <p class="text text-left">
                  Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
              </p>
            </div>   
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="item">
            <div class="icon">
              <div class="image">
                <img src="../../../images/icon-2.png" alt="lamp" class="">
              </div>
            </div>
            <div class="content">
              <h3 class="title">Passion</h3>
              <p class="text text-left">
                Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest
                non restibusaes maio es dem tumquam core posae volor remped modis volor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="item">
            <div class="icon">
              <div class="image">
                <img src="../../../images/icon-3.png" alt="star" class="">
              </div>
            </div>
            <div class="content">
              <h3 class="title">Passion</h3>
              <p class="text text-left">
                Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest
                non restibusaes maio es dem tumquam core posae volor remped modis volor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>