<section class="want-to-works">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
        <div class="title-want-to-works text-center">
          <h3 class="title">Want to work with us?</h3>
          <p class="text">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae
            sitiorem rest non restibusaes maio es dem tumquam.</p>
          <button class="btn btn-success btn-lg text-uppercase">get in touch</button>
        </div>
      </div>
    </div>
  </div>
</section>