<footer class="footer-container">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-xl–3 col-lg-3 col-md-6 col-12 col-footer">
          <div class="who-we">
            <div class="title">
              <h4 class="who text-uppercase">who we are</h4>
              <img src="../../images/logo-2.png" alt="">
            </div>
            <div class="text">
              <p class="content">
                Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor.
                Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
              </p>
              <p class="about-us">More about us <i class="fas fa-arrow-right"></i></p>
            </div>
          </div>
        </div>
        <div class="col-xl–3 col-lg-3 col-md-6 col-12 col-footer">
          <div class="latest-worlk">
            <h4 class="title text-uppercase">
              latest worlk
            </h4>
            <div class="list-img-latest-worlk">
              <div class="items">
                <div class="item">
                  <a href="">
                    <img src="../../images/footer-1.png" alt="">
                  </a>
                </div>
                <div class="item">
                  <a href="">
                    <img src="../../images/footer-2.png" alt="">
                  </a>
                </div>
              </div>
              <div class="items">
                <div class="item">
                  <a href="">
                    <img src="../../images/footer-3.png" alt="">
                  </a>
                </div>
                <div class="item">
                  <a href="">
                    <img src="../../images/footer-4.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl–3 col-lg-3 col-md-6 col-12 col-footer mg-col">
          <div class="get-in-touch">
            <h4 class="title title-footer text-uppercase">
              get in touch
            </h4>
            <p class="text-footer content-footer">
              Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis
              dentibea autem inisita.
            </p>
            <p class="text-footer">
              <a href="">
                <i class="fas fa-map-marker-alt text-footer"></i>
                84 Street, City, State 24813
              </a>
            </p>
            <p class="text-footer">
              <a href=""><i class="fas fa-mobile-alt text-footer"></i>
                +00 (123) 456 78 90
              </a>
            </p>
            <p class="text-footer">
              <a href=""><i class="far fa-envelope text-footer"></i>
                info@reen.com
              </a>
            </p>
          </div>
        </div>
        <div class="col-xl–3 col-lg-3 col-md-6 col-12 col-footer mg-col">
          <div class="updates">
            <h4 class="title-footer text-uppercase">Free updates</h4>
            <p class="text-footer">Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input class="form-control form-control-sm form-control-borderless" type="search" placeholder="Enter your email address">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-success text-uppercase" type="submit">Subscribe</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="#">© 2014 REEN. All rights reserved.</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavIdFooter" aria-controls="collapsibleNavIdFooter"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavIdFooter">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item menu-border">
              <a class="nav-link" href="#">Portflio</a>
            </li>
            <li class="nav-item menu-border">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item menu-border">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item menu-border">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item menu-border">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="btn-footer">
      <button type="button" class="btn btn-info"><i class="fas fa-chevron-up"></i></button>
    </div>
  </div>
</footer>
