.title-footer {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.text-footer {
  color: #a3b1bf;
  font-size: 14px;
}
